/* Styles for Odin Landing Page */

/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;700;800&display=swap');

/* Resets and Universal Styles*/
body {
    display: block;
    margin: 0;
    font-family: "Roboto", san-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color:#e5e7eb;
}

p {
    margin: 0;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

h1 {
    margin: 0;
}

button {
    background-color: #3882F6;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    padding: 8px 36px;
}

/* edge padding utility */
.pad-edge {
    padding: 0 208px;
}

/* header styles */
.header {
    padding-top: 18px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
}

.header > .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

/* hero section styles */
.hero-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #1f2937;
    font-size: 24px;
    font-weight: 800;
    color:#f9faf8;
    display: flex;
    gap: 40px;
}

.hero-image {
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 200;
    flex: 1 .5 725px;
}

.hero p {
    margin: 4px 0 12px 0;
    font-size: 18px;
    font-weight: 300;
    color: #e5e7eb;
}

.hero h1 {
    font-size: 48px;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.cta-container {
    background-color: #3882F6;
    font-size: 18px;
    color: #f9faf8;
}

.footer {
    background-color: #1f2937;
    color:#f9faf8;
}

.footer p {
    text-align: center;
    padding: 20px;
}